<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hi</title>
  </head>
  <body>
    <p>hello there</p>
    <form action="/submitLogin" method="post">
      <input type="text" name="username" value="hi" placeholder="Username">
      <input type="text" name="password" value="there" placeholder="Password">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
